.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

.scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}